{% extends "base.html" %}

{% block main %}

    <div class="profile-container">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/profile_img.png') }}" alt="Profile picture" class="profilepic">
                <h1>{{ fullName }}</h1>
                <p>@{{ username }}</p>
                <p><strong>Email:</strong> {{ email }}</p>
                <p><strong>Location:</strong> {{ location }}</p>
                <p><strong>Joined:</strong> {{ joined_date }}</p>
                
            </div>
            <hr>
            <div class="details">
                
                <p><strong>A little about me:</strong></p>
                <p>{{ bio }}</p>

    <div class = "follow-actions" >
                   
        <div class="following">
            <span class="actionNum">15</span>
            <span class="action-label">Posts</span>
        </div>
        <div class="following">
            <span class="actionNum">23</span>
            <span class="action-label">Following</span>
        </div>
        <div class="following">
            <span class="actionNum"">1236</span>
            <span class="action-label">Followers</span>
        </div>
    </div>

     <div class= "btnArea">
    <button class="followButton"><strong>Follow</strong></button>
    </div>
    
     </div>
            
    
             
    
    </div>
    
    
{% endblock %}